{% include 'index.html' %}
{% block body %}


<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Add Voter Form</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Voter Form</li>
            </ol>
            </div>
        </div>
        </div>
    </section>

<section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
        <div class="card card-danger">
            <div class="card-header">
            <h3 class="card-title">Voter Detail</h3>
            </div>

            <div class="card-body">
                <form action="" method="post" encvalue="{{data.}}" type="mutlipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                        <input class="form-control" id="fname" name="fname" placeholder="First name"  value="{{data.user.first_name}}" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                        <input class="form-control" id="lname" name="lname" placeholder="Last name" value="{{data.user.last_name}}" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Enter Email" value="{{data.user.email}}" type="email" required>
                        </div>
                        

                        <div class="col-sm-6 form-group">
                        <input class="form-control" id="adharno" name="adharno" placeholder="Enter Aadhar Number" value="{{data.adharno}}" type="text" max_length="12" min_length="12" required>
                        
                        </div>

                        <div class="col-sm-6 form-group">
                        <input class="form-control" id="mobile" name="mobile" placeholder="Enter Mobile no." value="{{data.mobile}}" type="number" required>
                        </div>

                        <div class="col-sm-6 form-group">
                        <input class="form-control" id="city" name="city" placeholder="Enter City name" value="{{data.city}}" type="text" required>
                        </div>

                        <div class="col-sm-6 form-group">
                        <input class="form-control" id="state" name="state" placeholder="Enter State name" value="{{data.state}}" type="text" required>
                        </div>

                        <div class="col-sm-6 form-group">
                        <input class="form-control" id="zipcode" name="zipcode" placeholder="Enter Zipcode" value="{{data.zipcode}}" type="text" required>
                        </div>

                        <div class="col-sm-5 form-group">
                            <label>Your Image</label>
                            <input class="form-control" id="image" name="image" placeholder="Enter Image" type="file">
                        </div>
                        <div class="col-sm-1 form-group">
                            <img src="{{data.image.url}}" style="width:100%">
                        </div>

                        <div class="col-sm-5 form-group">
                            <label>Aadhar Image</label>
                            <input class="form-control" id="adharimage" name="adharimage" placeholder="Enter Aadhar Image" value="{{data.}}" type="file">
                        </div>
                        <div class="col-sm-1 form-group">
                            <img src="{{data.adharimage.url}}" style="width:100%">
                        </div>

                    </div>
                        <label>Date of birth</label>
                        <input class="form-control" id="dob" name="dob" placeholder="Enter Your Date of Birth" value="{{data.dob|date:"Y-m-d"}}" type="date">
                            <br>
                        <textarea class="form-control" id="city" name="address" placeholder="Enter Your Address" rows="5">{{data.address}}</textarea>
                            <br>

                    <h4>Admin Works</h4>
                    <div class="row">
                    <div class="form-group col-6">
                        <label>Select Election Area</label>
                        <div class="input-group" id="earea" data-target-input="nearest">
                            <select type="text" class="form-control" data-target="#earea" name="earea" required>
                              <option>Select Election Area</option>
                              {% for i in earea %}
                                <option value="{{i.id}}" {% if data.electionarea.id == i.id %}selected{% endif %}>{{i.code}} [{{i.title}}]</option>
                              {% endfor %}
                            </select>
                            
                        </div>
                      </div>
                      
                      
                      </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <button type="submit" class="btn btn-primary float-sm-right">Submit</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>

{% endblock %}